<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

  
   <h1>Team Name: <%=@name%></h1>
   
   <h1>Coach: <%=@coach%></h1>
   
   <h1>pg: <%=@pg%></h1>
   
    <h1>sg: <%=@sg%></h1>
  
    <h1>pf: <%=@pf%></h1>
    
    <h1>sf: <%=@sf%></h1>
    
    <h1>c:< %=@c%></h1>
 
  	

 </body>
</html>


